venv/
__pycache__

# URL's , paths
.env

# All the data raw and prep
data_storage/

# Feature calculations
src/features/

# Temp
README.md

# Documentation regarding data preparation
tennis_data_prep_doc.docx